
<h1 class="white-text">Create a Watchlist</h1>
<%= simple_form_for @list do |f|%>
 <%= f.input :name%>
 <%= f.submit 'Create New List', { :class => 'button-49-create' }%>
<% end %>
<button class="button-49-back text-decoration-none white-text"><% link_to lists_path%>Back
</button>
