.banner {
  padding: 60px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.30), rgba(27, 24, 26, 0.80));
  color: white;
  font-size: 30px;
  background-size: cover;
  height: 50vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
