.banner {
  padding: 60px;
  text-align: center;
  background-image: url("https://play-lh.googleusercontent.com/EEZRsDvcSq11pwv5SVEyVlqUe5r8nP1r4OL6LM8co4hBX_F1nERK1gtZ-Q8o70MJ_d4");
  color: white;
  font-size: 30px;
  background-size: cover;
  height: 50vh;
  background-position: center;
}
