$color-primary-white: rgb(240, 240, 240);

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px;
}

.card {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: $color-primary-white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px;

  &:hover {
    opacity: 0.8;
    transition: .2s ease-in;
  }

  // img {
  //   position: absolute;
  //   object-fit:fill;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   opacity: 0.9;
  //   transition: opacity .2s ease-out;
  // }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin-bottom: 50px;
    transition: inset .3s .3s ease-out;
    text-transform: uppercase;
  }

  p, a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }

  p {
    inset: auto auto 80px 30px;
  }

  a {
    inset: auto auto 40px 30px;
    color: white;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
  }


  &:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
    margin-bottom: 50px;
  }

  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }

  &:hover img {
    opacity: 0.5;
    transition: opacity .3s ease-in;
  }

}

.material-symbols-outlined {
  vertical-align: middle;
}
